*{
    margin: 0%;
    padding: 0%;
    font-family: 'DM Sans', sans-serif;
}

body {
    max-height: 100%;
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    background: #283c86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-size: cover;
    

}

.image{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
    box-shadow: 10px 11px 25px -1px rgba(0,0,0,0.4);
-webkit-box-shadow: 10px 11px 25px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 10px 11px 25px -1px rgba(0,0,0,0.4);
border: solid white 3px;
}

h1{
    color: white;
    
}

.des{
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}
.para{
    margin-bottom: 20px;
    color: white;
}

.container{
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

.btn{   
    width: 400px;
    border: none;
    margin-bottom: 15px;
    height: 50px;
    border: solid black 1px;
    border-radius: 10px;
    max-width: 100%;
}

.fa-brands, .fa-solid {
    font-size: 20px;

}

.facebook{
    color: white;
    background-color: #3b5998;
}

.facebook:hover{
    color: white;
    background-color: #3b5998;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.email{
    color: #fff;
    background-color: #3b5998;
}
.email:hover{
    color: #fff;
    background-color: #3b5998;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



.instagram{
    color: #fff;
    background-image: linear-gradient(
        225deg,
        #feda75 0%,
        #fa7e1e 22%,
        #d62976 49%,
        #962fbf 75%,
        #4f5bd5 100%
        );
}
.instagram:hover{
    color: #fff;
    background-image: linear-gradient(
        225deg,
        #feda75 0%,
        #fa7e1e 22%,
        #d62976 49%,
        #962fbf 75%,
        #4f5bd5 100%
        );
        border-radius: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
}

.linkedin{
    color: #fff;
    background-color: #0077b5;
}
.linkedin:hover{
    color: #fff;
    background-color: #0077b5;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.whatsapp{
    color: #fff;
    background-color: #25d366;
}
.whatsapp:hover{
    color: #fff;
    background-color: #25d366;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.github{
    color: #fff;
    background-color: #171515;;
}
.github:hover{
    color: #fff;
    background-color: #171515;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.snapchat{
    color: #000;
    background-color: #FFFC00;
}
.snapchat:hover{
    color: #000;
    background-color: #FFFC00;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.twitter{
    color: #fff;
    background-color: #090909;
}
.twitter:hover{
    color: #fff;
    background-color: #090909;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.discord{
    color: #fff;
    background-color: #7289d9;
}
.discord:hover{
    color: #fff;
    background-color: #7289d9;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.threads{
    color: white;
    background-color: #1d1d1d;
}

.threads:hover{
    color: white;
    background-color: #1d1d1d;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.heading{
    float: right;
}