* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

h1 {
    font-size: 50px;
    margin: 10px;
}

.main {
    width: 450px;
    height: 700px;
    border: 5px solid;
    border-color: #FE5935;
    border-radius: 50px;
    text-align: center;
    padding: 30px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    -webkit-box-shadow: 2px 1px 15px 3px #000000;
    box-shadow: 2px 1px 15px 3px #000000;
}

.images img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50px;
    -webkit-box-shadow: 2px 1px 15px 3px #000000;
    box-shadow: 2px 1px 15px 3px #000000;
}

.icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    color: #FE5935;
}

.icons .fas {
    cursor: pointer;
    font-size: 35px;
}

.icons .ply {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #FE5935;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

