* {
    margin: 0%;
    padding: 0%;
    font-family: 'Baloo Tammudu 2', cursive;
}

body {
    background-image: url(./Images/image\ \(2\).jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 90%;
    height: 200px;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.key {
    height: 130px;
    width: 350px;
    border: solid 2px;
    border-color: #ffc107;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.07s ease;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 65px;
    color: white;
}

span {
    font-size: 13px;
    color: white;
}

.playing {
    transform: scale(1.1);
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 1rem rgba(255, 0, 0, 0.7);
}

@media only screen and (max-width:1150px) {

    h1{
        font-size: 25px;
    
    }

    span{
        font-size: 8px;
    }

    .key {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 150px;
        border-color: #ffc107;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.07s ease;
    }
    
}