*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;

}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.63); 
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.63);

}

body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    
}
.heading{
    margin-top: 20px; 
    
}
.heading h1{
    font-weight: bolder;
}

.heading p{
    font-weight: bolder;
}
.text{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.text .email{
    width: 400px;
    border: none;
  
    margin-bottom: 20px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}



.text .github{
    width: 400px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

}
.text .twitter{
    width: 400px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

}
.text .facebook{
    width: 400px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

}
.text .instagram{
    width: 400px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

}
.text .snapchat{
    width: 400px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

}
.text .whatsapp{
    width: 400px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);


}


    